<template>
    <v-app>
        <header-component></header-component>
        <v-container grid-list-md class="v-container-custom">
            <v-layout row wrap>
                <router-view />
            </v-layout>
        </v-container>
        <footer-component></footer-component>
    </v-app>
</template>

<script>
    import header from './components/HeaderComponent.vue';
    import footer from './components/FooterComponent.vue';
    import search from './components/SearchComponent.vue';
    // import categories from '@/components/CategoriesComponent.vue';

    export default {
        name: 'home',
        data() {
            return {
                // rightElements: true
            };
        },
        components: {
            'header-component': header,
            'footer-component': footer,
            'search-component': search,
            // "categories-component": categories
        },
        mounted() {
            const vue = this;

            /* EventBus.$on('RIGHT_ELEMENTS', function (payLoad) {
                vue.rightElements = payLoad;
              }); */
        },
    };
</script>

<style>
    html{
        font-family: Roboto, sans-serif;
    }

    .v-container-custom {
        margin-top: 54px !important;
    }

    @media (min-width: 992px) {
        .v-container-custom {
            margin-top: 56px !important;
        }
    }

    .loadingState {
        text-align: center;
    }
</style>
