<template>
  <post-form-component v-if="initialized" :postData="post" @passPostData="submit"></post-form-component>
  <v-flex v-else></v-flex>
</template>

<script>
import PostForm from '../../components/PostFormComponent';

export default {
  name: 'CreatePost',
  data() {
    return {
      initialized: false,
      post: {
        title: null,
        content: '',
        keywords: [],
        selectedCategory: null,
      },
    };
  },
  components: {
    'post-form-component': PostForm,
  },
  methods: {
    submit(val) {
      const vue = this;

      vue.post = val;

      axios.post(`${API_URL}/panel/createPost`, vue.post)
        .catch((e) => {
          alert('Məqalə əlavə olunmadı. Niyəsini də bilmirəm :(');
        })
        .then((r) => {
          if (r.data.status === 'success') vue.$router.push('/');
          else alert('Məqalə əlavə olunmadı. Niyəsini də bilmirəm :(');
        });
    }
  },
  mounted() {
    const self = this;

    axios.post(`${API_URL}/authenticate`)
      .then((r) => {
        if (r && r.data.status === 'success') {
          self.name = r.data.session.email;
          this.initialized = true;

        } else self.$router.push('/404');
      });
  },
};
</script>

<style scoped>

</style>
