<template>
  <post-form-component v-if="!isLoading" :postData="post" @passPostData="update"></post-form-component>
  <loading-state-component v-else></loading-state-component>
</template>

<script>
  import loadingState from '../../components/LoadingStateComponent'
  import PostForm from '../../components/PostFormComponent';
  import decodeEntities from 'decode-entities';

  import 'jodit/build/jodit.min.css';

  export default {
    name: 'UpdatePost',
    data() {
      return {
        isLoading: true,
        post: {
          title: null,
          content: '',
          keywords: [],
          selectedCategory: null,
        }
      };
    },
    components: {
      'post-form-component': PostForm,
      "loadingStateComponent": loadingState
    },
    methods: {
      init() {
        const self = this;

        axios.post(`${API_URL}/panel/getPost`, {id: this.$route.params.id})
          .then(r => {
            if (r && r.data.status === 'success') {
              const data = r.data.post;
              self.isLoading = false;

              self.post.title = decodeEntities(data.title);
              self.post.content = data.content;
              self.post.keywords = data.keywords.split(" ");
              self.post.selectedCategory = data.category_id;
            } else self.$router.push('/404');
          });
      },
      update() {
        const vue = this;

        axios.post(`${API_URL}/panel/updatePost`, {id: vue.$route.params.id, data: vue.post})
          .catch((e) => {
            alert('Məqalə redaktə oluna bilmədi. Niyəsini də bilmirəm :(');
          })
          .then((r) => {
            if (r.data.status === 'success') vue.$router.push('/oxu/' + vue.$route.params.id);
            else alert('Məqalə redaktə oluna bilmədi. Niyəsini də bilmirəm :(');
          });
      },
    },
    mounted() {
      const self = this;

      axios.post(`${API_URL}/authenticate`)
        .then(r => {
          if (r && r.data.status === 'success') {
            self.name = r.data.session.email;

            self.init();
          } else self.$router.push('/404');
        });
    },
  };
</script>

<style scoped>

</style>
