<template>
  <v-flex md6 offset-md3>
    <v-alert :value="badCredentials" type="error" transition="slide-y-transition">
      E-poçt və ya şifrə yanlışdır.
    </v-alert>
    <v-card style="padding: 30px;">
      <v-form>
        <v-text-field
          v-model="email"
          label="E-poçt"
          :error-messages="emailErrors"
          @input="$v.email.$touch()"
          @blur="$v.email.$touch()"
          required
        ></v-text-field>

        <v-text-field
          v-model="password"
          label="Şifrə"
          type="password"
          :error-messages="passwordErrors"
          @input="$v.password.$touch()"
          @blur="$v.password.$touch()"
          required
        ></v-text-field>

        <v-btn color="success" @click="login">
          Daxil ol
        </v-btn>
      </v-form>
    </v-card>
  </v-flex>
</template>

<script>
import Vue from 'vue';
import Vuelidate from 'vuelidate';
import { required, email } from 'vuelidate/lib/validators';
import router from '../router';

Vue.use(Vuelidate);

export default {
  name: 'Login',
  data() {
    return {
      email: null,
      password: null,
      badCredentials: false,
    };
  },
  computed: {
    emailErrors() {
      const errors = [];
      if (!this.$v.email.$dirty) return errors;

      !this.$v.email.email && errors.push('Düzgün E-poçt daxil edin');
      !this.$v.email.required && errors.push('E-poçt ünvanı daxil edin');

      return errors;
    },
    passwordErrors() {
      const errors = [];
      if (!this.$v.password.$dirty) return errors;

      !this.$v.password.required && errors.push('Şifrəni daxil edin');

      return errors;
    },
  },
  validations: {
    email: {
      required,
      email,
    },
    password: {
      required,
    },
  },
  methods: {
    login() {
      const vue = this;

      vue.$v.$touch();

      if (vue.$v.$invalid) return;

      const data = {
        email: this.email,
        password: this.password,
      };

      axios.post(`${API_URL}/login`, data)
        .then((r) => {
          if (r.data.status === 'success') router.push('/panel');
          else vue.badCredentials = r.data.reason === 'bad_credentials';
        })
        .catch((e) => {
          // TODO: create error handler
        });
    },
  },
};
</script>

<style scoped>

</style>
