<template>
  <v-flex style="background-color: #A6DCE8;">
    <img src="/assets/image/404-error.png" />
    <h1 style="text-align:center;">Burada heç nə yoxdur :(</h1>
  </v-flex>
</template>

<script>
export default {
  name: 'PageNotFound'
};
</script>

<style scoped>

</style>
