<template>
  <v-toolbar dense fixed>
    <!--<v-toolbar-side-icon></v-toolbar-side-icon>-->
    <v-toolbar-title style="cursor:pointer;" @click="toHome">
      <v-icon>home</v-icon>
    </v-toolbar-title>
    <v-spacer></v-spacer>
    <v-toolbar-items class="hidden-sm-and-down">
      <v-btn text style="text-transform:none!important;" @click="toGitlab">GitLab</v-btn>
      <v-btn text style="text-transform:none!important;" @click="toLinkedIn">LinkedIn</v-btn>
      <v-btn text @click="mailTo">Əlaqə</v-btn>
    </v-toolbar-items>
  </v-toolbar>
</template>

<script>
import router from '../router';

export default {
  name: 'HeaderComponent',
  methods: {
    toHome() {
      router.push('/');
    },
    toGitlab() {
      window.open('https://gitlab.com/nicatt');
    },
    toLinkedIn() {
      window.open("https://www.linkedin.com/in/nicatt");
    },
    mailTo() {
      window.open("mailto:hi@konsol.dev");
    }
  },
};
</script>

<style scoped>

</style>
