<template>
  <v-flex class="loadingState">
    <v-progress-circular
      :size="170"
      :width="10"
      :color="loadingStateColor"
      indeterminate
    ></v-progress-circular>
    <h1 class="mt-5 display-2">Yüklənir...</h1>
  </v-flex>
</template>

<script>
  export default {
    name: "LoadingStateComponent",
    data() {
      return {
        loadingStateColor: "blue"
      }
    },
    mounted() {
      const self = this;
      const colors = ["primary", "red", "yellow", "purple", "green", "amber", "blue"];

      setInterval(() => {
        self.loadingStateColor =
          colors[Math.floor(Math.random()*colors.length)];
      }, 1500);
    }
  }
</script>

<style scoped>

</style>
