<template>
  <div class="card my-4">
    <h5 class="card-header">Search</h5>
    <div class="card-body">
      <form action="/search">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
                    <button class="btn btn-secondary" type="submit">Go!</button>
                  </span>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SearchComponent',
};
</script>

<style scoped>

</style>
